.wrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.button {
  border-radius: 10px;
  width: 70px;
  padding: 8px;
}

.content {
  pointer-events: none;
}
